:root {
  --bgdark: #061130;
  --color-light: #eef3f3;
  --color-link: #1c4bc4;
  --color-title: #fafd61;


}

/* SECTION MAIN ELEMENTS */

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-flow: column;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: var(--bgdark);
  height: 80px;
  padding: 16px 24px;
  color: var(--color-light);
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
}

nav {
  max-width: 80%;
  min-width: 470px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main {
  background-color: var(--bgdark);
  color: var(--color-light);
  width: 100%;
  padding: 10vh 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

p {
  margin: .5em 0;
  font-size: 1.2em;
  line-height: 1.5em;
}

img {
  height: fit-content;
}

sub {
  height: 12vh;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2em;
}

footer {
  height: 16vh;
  background-color: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  padding: 10px;
}



/* SECTION CLASS SELECTORS */

.highlighted {
  background-color: var(--color-link);
  border-radius: 10px;
}

.textarea {
  max-width: 350px;
}

.title {
  color: var(--color-title);
}

.big {
  font-size: 2.2em;
  font-weight: 600;
}

/* ID SELECTORS */
#coolsite-logo {
  text-align: left;
}